@import "tailwindcss";

@utility container {
    margin: auto;
}

@theme {
    --breakpoint-sm: 700px;
    --breakpoint-md: 900px;
    --breakpoint-lg: 1000px;
    --breakpoint-big: 1300px;
}

/* @layer base{
    h1{
        font-size:40px;
    }
    h2{
        font-size:30px;
    }
    h3{
        font-size:20px;
    }
} */

/* directly tailwind css apply */
@layer base {
    h1{
        @apply text-8xl;
    }
     h2{
        @apply text-7xl;
    }
     h3{
        @apply text-4xl;
    }
    button{
        @apply border;
        @apply p-3;
        @apply text-3xl;
    }
}